body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.title-section {
  margin: 20px;
  display: flex;
  /* flex-direction: row; */
}

.title-section img {
  height: 40px;
}

.subtitle-section {
  text-align: center;
  margin: 0 15%;
}

.subtitle1 {
  color: rgb(255, 98, 0);
  margin: 0;
}

.subtitle2 {
  font-style: italic;
  margin-bottom: 20px;
}

.menu-items-container {
  width: 80%;
}
.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.menu-item .details-container .top-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.details-container {
  width: 100%;
}

.image-container {
  padding: 10px;
}
.image-container img {
  width: 70px;
  height: 70px;
}

button {
  border: 1px solid rgb(156, 156, 241);
  padding: 2px 10px;
  background-color: rgb(180, 197, 227);
  border-radius: 20px;
  font-size: 9px;
}
